{% load static %}
<html>
    <head>
        <title>PyLetter</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <script src="{% static 'script.js' %}"></script>
    </head>
    <body>
        <div class="main-container">
            <h1>PyLetter</h1>
            <div class="container-parent">
                <!-- Eingabe -->
                <div class="container">
                    <h2>Eingabe</h2>
                    <div>
                        <canvas id="drawArea" height="400px" width="400px">

                        </canvas>
                        <div>
                            <button onclick="clearArea()">Clear</button>
                            <button onclick="predict()">Predict</button>
                        </div>
                    </div>
                </div>
                <!-- Ausgabe -->
                <div class="container">
                    <h2>Ausgabe</h2>
                    <div>
                        <span id="letter" class="letter">...</span>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy; Benedikt Kupfer, Jonas Schlachter, Julian Ortlieb, Patrick Egen</p>
        </footer>
    </body>
</html>